button {
  padding: 10px 50px 10px 50px;
  color: white;
  background-color: #a61414;
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  font-style: normal;
  margin: 10px;
  cursor: pointer;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}

#togglebtn {
  border: none;
  background: Canvas;
  color: CanvasText;
  border: 1px solid currentColor;
  text-box: cap alphabetic;
  padding: 1cap;
  border-radius: 5px;
  display: block;
  cursor: pointer;
  margin-block: 1.5rlh;
}
