button {
  padding: 10px 50px 10px 50px;
  color: white;
  background-color: #a61414;
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  font-style: normal;
  margin: 10px;
  cursor: pointer;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}
