:root {
  /* Colours */
  --color-bg: #e6e7ec; /* page background /*

  /* Header */
  --color-head-bg: #a61414;

  /* Logotype */
  --color-logotype-bg: #000;
  --color-text-logotype: #ffffff;
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: #8188a1;
  /* Links */
  --color-link-bg: #ffffff;
  --color-link-hover: #a61414; /* used */
  --color-link-active: #a61414; /* used */
  --border-radius-links: 37px;

  /* Headlines og rubrik */
  --font-h1-size: 3rem;
  --font-sub1-size: 3rem;
  --font-h2-size: 1.5rem;
  --font-h3-size: 2.25rem;
  --color-headline-bg: #000;
  --color-headline-text-page: #ffffff;

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: #ffffff;

  /*  Marginer */
  --margin-head-bottom: 40px;

  /* Borders */
  --border-radius: 37px;

  /* Cards */
  --color-card-bg: #ffff;
  --color-cta-card-bg: #a61414;
  /* news-cards */
  --color-news-bg: #ffffff;
  --color-news-bg-inverted: #8188a1;
  --color-cta-newscard-bg: #a61414;
  --color-cta-newscard-bg-inverted: #a61414;

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 2.25rem;
  --headline3-size: 2rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #ffffff;
  --color-infobox-1-bg: #8188a1;
  --color-infobox-2-bg: #ffffff;
}
