/* #webform {
  background-color: var(--form-background-color);
}

#form-section,
#form-summary {
  background-color: var(--info-background-color);
  padding: 0;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
} */

/* CSS Starter er tilføjet, dine styles herunder */
/* TIlføj styles til:
   form (accent-color),
   input (border, border-radius, padding, evt. box-shadow),
   button (background-color, color, border, border-radius, padding, cursor)
   .error-message (color) */

#form-number {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  margin: 0 auto;
  width: 500px;
}

.form-number {
  display: flex;
  justify-items: center;
  gap: 10px;
  margin: 0 auto;
  width: 500px;
}

form {
  accent-color: #8188a1;
}

option {
  background-color: #ffffff;
}

label {
  width: 500px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: "Orbitron", sans-serif;
}

input {
  display: grid;
  border: 1px solid #8188a1;
  border-radius: 5px;
  background-color: #ffffff;
  width: 500px;
  padding: 10px 0px 10px 10px;
  margin: 0 auto;
  margin-bottom: 25px;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1rem;
}

input[type="checkbox"] {
  display: inline-block; /* allows it to stay inline with the label */
  width: auto; /* don’t force full width */
  margin: -0.1rem 0.1rem 0 0; /* space between checkbox and label */
  vertical-align: middle; /* aligns with text nicely */
  accent-color: #8188a1; /* optional: match your theme */
}

.error-message {
  display: none;
  width: 500px;
  margin: 0 auto;
  color: #a61414;
  font-family: "Alegreya Sans", sans-serif;
}

button {
  display: grid;
  gap: 10px;
  width: 500px;
  margin: 0 auto;
  font-family: "Orbitron", sans-serif;
  padding: 10px 200px 10px 200px;
  background-color: #a61414;
  color: white;
  font-family: "Orbitron", sans-serif;
  cursor: pointer;
}

legend {
  padding: 10px 10px 10px 10px;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 18px;
}

fieldset {
  border: 1.5px solid #8188a1;
  padding: 10px 0px 10px 10px;
  margin: 10px;
}

#zoo_name {
  display: grid;
  gap: 10px;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 25px;
  background-color: #8188a1;
  color: #e6e7ec;
  border-radius: 0px;
  font-family: "Orbitron", sans-serif;
  padding: 10px 10px 10px 10px;
}

#message {
  display: grid;
  border: 1px solid #8188a1;
  border-radius: 5px;
  background-color: #ffffff;
  width: 500px;
  padding: 10px 0px 10px 10px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1rem;
}

#slider {
  width: 500px;
  height: max-content;

  appearance: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
}

#slider::-webkit-slider-runnable-track {
  background-color: #8188a1;
  height: 8px;
}

#slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  margin-top: -32px;
  height: 40px;
  width: 10px;
  background-color: #a61414;
}

#upload {
  appearance: none;
  background-color: white;
  -webkit-appearance: none;
}

#upload::-webkit-file-upload-button {
  border: none;
  background-color: #8188a1;
  color: #ffffff;
  border-radius: 5px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Focus-visible */

:focus-visible {
  outline: 1px solid #8188a1;
  border-radius: 5px;
}

.form-group:has(:required) {
  label::after {
    content: " *";
    color: #8188a1;
  }
}

.form-group:has(:user-invalid) {
  input {
    outline: 1px solid #c82a2a;
    border-color: #a61414;
  }
  .error-message {
    display: block;
  }
}

.form-group:has(:user-valid) {
  input {
    outline: 1px solid #8188a1;
    border-color: #e6e7ec;
  }
}
